body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-top: 5px;
}

#head {
	margin-top: 20px;
	width: 800px;
	height: 170px;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #959596;
	font-size: 11px;
}

#container {
	width: 800px;
	height: 500px;
	background-color: #FFFFFF;
	color: #000000;
	margin-top: 5px;
	text-align: left;
}


#menu {
        display: block;
        position: relative;
        float: left;
        border: 1px solid #959596;
        width: 198px;
        height: 493px;
        background: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding: 0;
        margin: 0;
}

#menu a {
        font: bold 13px Verdana;
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
        width: 196px;
        background-color: #000000;
        color: #FFFFFF;
        text-decoration: none;
        border: 1px solid #959596;
}

#menu a:hover {
        background-color: #FFFFFF;
        color: #000000;
        border: 1px solid #959596;
}



#content {
	display: block;
	position: relative;
	float: left;
	margin-left: 5px;
	border: 1px solid #959596;
	width: 593px;
	height: 493px;
	background: #FFFFFF;
}

#footer {
	color: #000000;
	height: 50px;
	width: 800px;
	background: #FFFFFF;
	border: 1px solid #959596;
	font-size: 12px;
}

#ucon_logo {
	margin-top: 25px;
	position: relative;
	display: block;
	background-color: #FFFFFF;
	float: left;
	width: 275px;
	height: 145px;
}

#bug_logo {
	margin-top: 0px;
	background-color: #FFFFFF;
	position: relative;
	display: block;
	float: right;
	width: 163px;
	height: 170px;
}

#letters_head {
	margin-top: 90px;
	width: 362px;
	height: 80px;
	background-color: #FFFFFF;
	float: left;
	text-align: center;
	display: block;
	position:relative;
}

#score_table table{
  width: 100%;
  text-align: left;
}

#score_table_title {
  background: #000000;
  color:  #FFFFFF;
  font-weight: bold;
}
