<center><b>uCon Security Conference 2009 <br> [Capture The Flag]<br><br></b></center>

The uCon II Capture The Flag was built with three main objectives: Having fun, Hacking and Beer. There are no rules just hack as many challenges as you can to gain points and win the contest. The winner will receive a legendary Shellcode Handbook book, a coolest uCon tshirt, a free pass to the next uCon, fame and glory !<br>

<br>

<font size="2">
<b>CTF Team:</b><br>
<ul>
<li> Marcos &Aacute;lvares &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<b>marcos.alvares at gmail</b>)</li>
<li> Gustavo Bittencourt&nbsp;(<b>gusbit at gmail</b>)</li>
<li> Rafael Oliveira&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<b>ludug3r0 at gmail</b>)</li>
<ul>
</font>
